{% extends "base.html" %}

{% block content %}
{% set total_cards = 100 %}
{% set size = 'all_cards_med' %}
<h1 class="border-bottom border-dark border-5 pb-5 mb-5">Welcome {{ current_user.username }}</h1>
<div class="border rounded p-2">
    <h2 class="bg-light text-center rounded mb-3">Flash Cards Today</h2>
    <div class="bg-light rounded mh-100 my-1 mx-2">
        {% for i in range(total_cards)|reverse %}
            {% if i < cards_info.cards_percent_complete %}
                {% set rounded = 'rounded-top' if i == total_cards - 1 else '' %}
                {% set top = 'border-top' if i == cards_info.cards_percent_complete - 1 else '' %}
                <div class="green_background {{ size }} {{ rounded }} {{ top }}"></div>
            {% else %}
                {% set rounded = 'rounded-top' if i == total_cards - 1 else '' %}
                <div class="bg-danger {{ size }} {{ rounded }}"></div>
            {% endif %}
        {% endfor %}
    </div>
    <h3 class="text-light text-center bg-dark rounded-bottom p-2">
        {{ cards_info.cards_today }} / {{ cards_info.cards_total }}
    </h3>
</div>
{% endblock %}
